body {
    background-color: rgb(183, 231, 247);
    height:100vh;
    width:100vw;
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(137, 165, 243);
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  color: pink;
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  color: pink;
  font-size: 2rem;
  margin-top: 0.2rem;
}


.container {
    max-width: 600px;
    height:89vh;
    width:15vw;
    float: left;
    margin: auto;
    background-color: lightcoral;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
    padding-right: 50px;
}

.container2 {
    max-width: 600px;
    height:89vh;
    width:100vw;
    float: center;
    margin: auto;
    background-color: rgb(163, 211, 243);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
    padding-right: 50px;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

label {
  display: block;
  margin-top: 1rem;
  color: pink;
}

button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: pink;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#statusMessage {
  color: pink;
}